/* ===== TOOLBAR ===== */

.toolbar{
  display:flex;
  justify-content:space-between;
  background:#0f172a;
  color:white;
  padding:10px 20px;
}

.left{
  display:flex;
  align-items:center;
  gap:10px;
}

.icono{
  color:#38bdf8;
}

.titulo{
  font-size:18px;
  font-weight:600;
}

.right{
  display:flex;
  align-items:center;
  gap:15px;
}

.filtros-card {
  margin: 20px 0;
  padding: 10px 15px;
  background:white;
  margin-top: -5px;
}


.acciones-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 0;
}


.buscador{
  background:white;
  border-radius:8px;
  width:250px;
}

.filtros {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.filtro-select {
  flex: 1;
  max-width: 180px;
  min-width: 130px;
}

.botones {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.botones button {
  width: auto;        /* tamaño natural */
  min-width: unset;   /* evita tamaño mínimo de Material */
  white-space: nowrap; /* evita salto de texto */
  height: 40px;
  margin-top: 3px;
}

.contenedor{
  padding:20px;
  border-radius:12px;
}

.filtro{
  width:300px;
  margin-bottom:15px;
}

.tabla-wrapper{
  /*background:white;*/
  border-radius:12px;
  overflow:hidden;
}

.tabla{
  width:100%;
}

/* Header */
.mat-header-row{
  background:transparent;
  border-bottom: 1.5px solid #cbd5e1;
}

.mat-header-cell{
  color:#334155 !important;
  font-weight:600;
}

/* Hover filas */
.fila:hover{
  background:#f1f5f9;
  transition:0.2s;
}

/* Chips */
.chip-activo{
  background:#16a34a;
  color:white;
  padding:4px 12px;
  border-radius:20px;
  font-size:12px;
}

.chip-inactivo{
  background:#dc2626;
  color:white;
  padding:4px 12px;
  border-radius:20px;
  font-size:12px;
}

  .BtnBuscar {
    background-color: #0284c7;
    color: #ffffff;
  }

  .BtnCrear{
    background-color: #de4949;
    color: #ffffff;
  }

 .BtnExportar{
    background-color: #FFAB00;
    color: #ffffff;
  }  

 .BtnImportar{
    background-color: #2e7d32;
    color: #ffffff;
  }  


.activo {
  background-color: #d4edda; /* verde claro */
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.inactivo {
  background-color: #f5c6cb; /* rojo más fuerte */
  color: #721c24;
  border: 1px solid #f1b0b7;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.user-count-link {
  color: #c00000;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.user-count-link:hover {
  color: #900000;
}
