<app-bread-crumb
  titulo="Gestión de Puestos"
  icon="gavel"
  >
</app-bread-crumb>

<div class="contenedor">
    <form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm">
        <mat-card class="filtros-card">
            <div class="acciones-container">

                <!-- FILTROS -->
                <div class="filtros">

                    <mat-form-field appearance="outline" class="filtro-select">
                        <mat-label>Organización </mat-label>
                        <mat-select formControlName="ctrol_organizacion" (selectionChange)="onChangeOrga($event)">
                            <mat-option *ngFor="let orga of lstOrganizacion" [value]="orga.codigo">
                            {{ orga.descripcion }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>   
                     
                    <mat-form-field appearance="outline" class="filtro-select">
                        <mat-label>Sede </mat-label>
                        <mat-select formControlName="ctrol_sede" >
                            <mat-option *ngFor="let sede of lstSedes" [value]="sede.codigo">
                            {{ sede.descripcion }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>                   

                    <mat-form-field appearance="outline" class="filtro-select">
                        <mat-label>Nivel de Riesgo</mat-label>
                        <mat-select formControlName="ctrol_nivel">
                            <mat-option *ngFor="let nivel of lstNivelRiesgo" [value]="nivel.codigo">
                                {{ nivel.descripcion }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>


                <!-- BOTONES -->
                <div class="botones">

                    <button type="button" class="BtnBuscar" mat-flat-button (click)="onBuscar()">
                        <mat-icon aria-label="create_new_folder">search
                        </mat-icon> Buscar
                    </button>                        

                    <button type="button" class="BtnCrear" mat-flat-button (click)="onAgregar()">
                        <mat-icon aria-label="create_new_folder">create_new_folder
                        </mat-icon> Agregar
                    </button>    

                    <button type="button" class="BtnExportar" mat-flat-button (click)="onExportar()" >
                        <mat-icon aria-label="create_new_folder">download
                        </mat-icon> Exportar a Excel
                    </button>
                    
                    <button type="button" class="BtnImportar" mat-flat-button (click)="onImportar()" >
                        <mat-icon aria-label="create_new_folder">upload
                        </mat-icon> Importar Puestos
                    </button>
                </div>            
            </div>
        </mat-card>

        <table mat-table [dataSource]="dataSource" matSort class="tabla-wrapper">

            <!-- FICHA DESCRIPCIóN -->
            <ng-container matColumnDef="ficha_descrip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ficha Descripción</th>
                <td mat-cell *matCellDef="let row">
                    <button type="button" mat-icon-button color="primary" (click)="onVerFicha(row)" title="Ver Ficha">
                        <mat-icon>description</mat-icon>
                    </button>
                </td>
            </ng-container>     

            <!-- HISTORICO DE REVISION -->
            <ng-container matColumnDef="his_de_revi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Histórico de Revisión</th>
                <td mat-cell *matCellDef="let row">{{row.his_de_revi}}</td>
            </ng-container>              

            <!-- ES ADMIN -->
            <ng-container matColumnDef="es_admin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>¿Es Admin?</th>
                <td mat-cell *matCellDef="let row">{{row.es_admin}}</td>
            </ng-container>             
            
            <!-- Sede -->
            <ng-container matColumnDef="n_user_activ">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Usuarios Activos</th>
                <td mat-cell *matCellDef="let row">
                    <span class="user-count-link" (click)="onVerUsuarios(row)">{{row.n_user_activ}}</span>
                </td>
            </ng-container>              
            
            <!-- Puesto -->
            <ng-container matColumnDef="puesto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Puesto</th>
                <td mat-cell *matCellDef="let row">{{row.puesto}}</td>
            </ng-container>   
            
            <!-- organización -->
            <ng-container matColumnDef="organización">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Organización</th>
                <td mat-cell *matCellDef="let row">{{row.organizacion}}</td>
            </ng-container>     
            
            <!-- SEDE -->
            <ng-container matColumnDef="sede">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sede</th>
                <td mat-cell *matCellDef="let row">{{row.sede}}</td>
            </ng-container>

            <!-- Nivel Riesgo -->
            <ng-container matColumnDef="nivel_riesgo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nivel Riesgo</th>
                <td mat-cell *matCellDef="let row">{{row.nivelRiesgo}}</td>
            </ng-container>

            <!-- CON DOCUMENTOS FACILITADOS/SOLICITADOS/CUESTIONARIOS -->
            <ng-container matColumnDef="con_doc_fal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Documentos Facilitados/Solicitados/Cuestionarios</th>
                <td mat-cell *matCellDef="let row">{{row.con_doc_fal}}</td>
            </ng-container>  

            <!-- ACCIONES -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="onEditar(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onEliminar(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>  
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>                  
                    
        </table>

    </form>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>
