<mat-sidenav-container class="container">

  <!-- SIDENAV -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">

    <h3 class="logo">SecureNorm</h3>

    <mat-nav-list>

      <!-- MENU 1 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>folder</mat-icon>
          <span style="margin-left:8px;">Organización</span>
        </mat-expansion-panel-header>

        <a mat-list-item routerLink="/principal/normas">
          Normas
        </a>

        <a mat-list-item routerLink="/principal/organizacion">
          Organización
        </a>

      </mat-expansion-panel>     
      
      <!-- MENU 2 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>diversity_3</mat-icon>
          <span style="margin-left:8px;">Personas</span>
        </mat-expansion-panel-header>

        <a mat-list-item routerLink="/principal/puestos">
          Puestos
        </a>

        <a mat-list-item routerLink="/principal/usuariosPersonas">
          Usuarios / Personas
        </a>

        <a mat-list-item routerLink="/principal/documentacionPersonas">
          Documentación Personas
        </a>        

        <a mat-list-item routerLink="/principal/misDocumentos">
          Mis Documentos
        </a>        

        <a mat-list-item routerLink="/principal/evaluacionesPuntuales">
          Evaluaciones Puntuales
        </a>        
        <a mat-list-item routerLink="/principal/campusVirtual">
          Campus Virtual
        </a>        

        <a mat-list-item routerLink="/principal/accionesCorrectivas">
          Acciones Correctivas
        </a>        

        <a mat-list-item routerLink="/principal/analytics">
          Analytics
        </a>        

        <a mat-list-item routerLink="/principal/verificacionAccesos">
          Verificación de accesos
        </a>        

        <a mat-list-item routerLink="/principal/logAccesos">
          Log de Accesos
        </a>        

        <a mat-list-item routerLink="/principal/mapaPermisos">
          Mapa de permisos de los puestos
        </a>        

        <a mat-list-item routerLink="/principal/configuracionPuestos">
          Configuración de puestos
        </a>        


      </mat-expansion-panel>

      <!-- MENU 3 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>folder</mat-icon>
          <span style="margin-left:8px;">Documentos</span>
        </mat-expansion-panel-header>

        <a mat-list-item routerLink="/principal/documentosControlados">
          Docs. Controlados
        </a>

        <a mat-list-item routerLink="/principal/documentosNoControlados">
          Docs. no Controlados
        </a>    

        <a mat-list-item routerLink="/principal/registrosPendientes">
          Registros Pendientes
        </a>

      </mat-expansion-panel>       
      
      <!-- MENU 4 -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>track_changes</mat-icon>
          <span style="margin-left:8px;">Objetivos</span>
        </mat-expansion-panel-header>

        <a mat-list-item routerLink="/principal/planificacionObjetivos">
          Planificación Objetivos
        </a>

        <a mat-list-item routerLink="/principal/gestionObjetivos">
          Gestión Objetivos
        </a>

        <a mat-list-item routerLink="/principal/medicionesPendientes">
          Mediciones Pendientes
        </a>

      </mat-expansion-panel>       

      <!-- MENU 5: RIESGOS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>warning</mat-icon>
          <span style="margin-left:8px;">Riesgos</span>
        </mat-expansion-panel-header>

        <a mat-list-item routerLink="/principal/evaluacionRiesgos">
          Evaluación de Riesgos
        </a>
      </mat-expansion-panel>       
      
      <!-- <a mat-list-item routerLink="/principal">
        <mat-icon>home</mat-icon>
        Principal
      </a>

      <a mat-list-item routerLink="/normas">
        <mat-icon>description</mat-icon>
        Normas
      </a> -->

    </mat-nav-list>

  </mat-sidenav>

  <!-- CONTENIDO -->
  <mat-sidenav-content>

    <!-- TOOLBAR -->
    <mat-toolbar color="primary" class="mix-toolbar">

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      Sistema de Normas

    </mat-toolbar>

    <!-- PAGINAS -->
    <div class="contenido">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
