<div class="usuarios-modal-container">
  <div class="modal-header">
    <h2 class="modal-title">Usuarios del puesto: {{ puesto?.puesto || puesto?.denominacion }}</h2>
    <button type="button" class="close-btn" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="usuarios-list">
    <div *ngFor="let user of lstUsuarios" class="usuario-item">
      <mat-icon class="user-icon">person</mat-icon>
      <span class="user-name">{{ user }}</span>
    </div>
    <div *ngIf="lstUsuarios.length === 0" class="no-users">
      No hay usuarios activos asignados a este puesto.
    </div>
  </div>
</div>
