<app-bread-crumb
  titulo="Estructura de la Organización"
  icon="gavel">
</app-bread-crumb>

<div class="contenedor">

    <mat-card class="filtros-card">
        <div class="acciones-container">
        
        <!-- BUSCADOR -->
        <mat-form-field appearance="outline" class="buscador">
            <mat-label>Buscar organización</mat-label>
            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Escriba para buscar">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <!-- BOTONES -->
        <div class="botones">

            <button type="button" class="BtnCrear" mat-flat-button (click)="onAgregar()">
                <mat-icon aria-label="create_new_folder">create_new_folder
                </mat-icon> Agregar
            </button>    

            <button type="button" class="BtnExportar" mat-flat-button (click)="onExportar()" >
                <mat-icon aria-label="create_new_folder">download
                </mat-icon> Exportar
            </button>       
            
        </div>

        </div>  
    </mat-card>    

    <table mat-table [dataSource]="dataSource" matSort class="tabla-wrapper">

        <!-- Código -->
        <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let row">{{row.codigo_Organizacion}}</td>
        </ng-container>

        <!-- Denominacion -->
        <ng-container matColumnDef="denominacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organización</th>
        <td mat-cell *matCellDef="let row">{{row.denominacion}}</td>
        </ng-container>   
        
        <!-- Sedes -->
        <ng-container matColumnDef="sedes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sedes</th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button color="primary" (click)="onSedes(row)">
            <mat-icon>home</mat-icon>
          </button>

        </td>
        </ng-container>        
        
        <!-- Procesos -->
        <ng-container matColumnDef="procesos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Procesos/Departamentos</th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button color="primary" (click)="onProcesos(row)">
            <mat-icon>settings</mat-icon>
          </button>          

        </td>
        </ng-container>          
        
        <!-- Activos -->
        <ng-container matColumnDef="activos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Activos</th>
        <td mat-cell *matCellDef="let row">

          <button mat-icon-button color="primary" >
            <mat-icon>shoppingmode</mat-icon>
          </button>                
  
        </td>
        </ng-container>   
        
      <!-- Estado -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let row">
          <span [ngClass]="row.flg_Activo === 'True' ? 'activo' : 'inactivo'">
            {{row.flg_Activo === "True" ? 'Activo' : 'Inactivo'}}
          </span>
        </td>
      </ng-container>        
        
      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let e">

          <button mat-icon-button color="primary" (click)="onEditar(e)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="onEliminar(e)">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      

    </table>

</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>