<IfModule mod_rewrite.c>
  RewriteEngine On
  # Si el sitio está en una subcarpeta como /SeguridadSoma/, ajustar RewriteBase
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
