<form class="container-cuerpo" [formGroup]="formulario" #formDirective="ngForm">
     <mat-card class="example-card" appearance="outlined"></mat-card>
     <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{data.Title}} </mat-card-title>
    </mat-card-header>  

    <mat-card-content>

        <div class="row" *ngIf="data?.Accion !== 'I'">
            <mat-form-field appearance="outline" style="flex: 1;">
                <mat-label>Codigo</mat-label>
                <input matInput formControlName="ctrol_codigo">
            </mat-form-field>              
        </div>  

        <div class="row">

            <mat-form-field appearance="outline" style="flex: 1;">
                <mat-label>Organización</mat-label>
                <input matInput formControlName="ctrol_organizacion" >
            </mat-form-field>                   

        </div>    

        <div class="row">
            
            <mat-form-field appearance="outline" style="flex: 1;">
                <mat-label>Proceso (*)</mat-label>
                <input matInput formControlName="ctrol_proceso" >
            </mat-form-field>                 
            
        </div>
        
        <div class="row">

            <mat-form-field appearance="outline" style="flex: 1;">
                <mat-label>Sede (*)</mat-label>

                <mat-select formControlName="ctrol_sede">
                    <mat-option *ngFor="let sede of lstSedes" [value]="sede.codigo">
                    {{ sede.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>            

        </div>

        <div class="row">

            <mat-form-field appearance="outline" style="flex: 1;">
            <mat-label>Tipo de Proceso (*)</mat-label>

            <mat-select formControlName="ctrol_tipo">
                <mat-option *ngFor="let tipo of lstTipo" [value]="tipo.codigo">
                {{ tipo.descripcion }}
                </mat-option>
            </mat-select>

            </mat-form-field>            

        </div>   
        
        <div class="row">

            <mat-form-field appearance="outline" style="flex: 1;">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="ctrol_descripcion"></textarea>
            </mat-form-field>              

        </div>

        <div class="row">

<mat-form-field appearance="outline" style="flex: 1;">
  <mat-label>Adjuntar archivo</mat-label>

  <input
    matInput
    readonly
    [value]="nombreArchivo || ''"
    placeholder="Seleccione un archivo">

    <button
        mat-icon-button
        matSuffix
        (click)="fileInput.click()"
        type="button">
        <mat-icon>attach_file</mat-icon>
    </button>

    </mat-form-field>

    <input
    #fileInput
    type="file"
    hidden
    (change)="onFileSelected($event)">

</div>
        
        

    </mat-card-content>
</form>

<div class="button-row"> 
    <!-- [disabled]="data.Datos.cod_Estado_Memo !== '04' && bEdita" -->
    <button mat-flat-button color="primary" class="form-button" (click)="onSave()" > 
        <mat-icon>save</mat-icon> Grabar
    </button>

    <button mat-flat-button color="warn" mat-dialog-close class="form-button" (click)="onClose()" >
        <mat-icon>close</mat-icon> Salir
    </button>
    
</div>  